# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Unity meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Logs
*.log

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Gradle
.gradle/

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Blender backup files
*.blend1
*.blend1.meta

# Jetbrains Rider
[Aa]ssets/Plugins/Editor/JetBrains*
*.DotSettings.user

# Crash reports
sysinfo.txt
mono_crash.*
crashlytics-build.properties

# Addressables
ServerData/
[Aa]ssets/StreamingAssets/aa*
[Aa]ssets/AddressableAssetsData/link.xml*
[Aa]ssets/Addressables_Temp*
[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
[Aa]ssets/Unity.VisualScripting.Generated/